# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_ENDPOINT=localhost:9000

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_RAW=raw-articles

# MySQL
MYSQL_ROOT_PASSWORD=root123
MYSQL_DATABASE=press_warehouse
MYSQL_USER=press_user
MYSQL_PASSWORD=press_pass